{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  </head>
  <body>
    <div id="body">
      <!-- ▼▼▼▼▼ header ▼▼▼▼▼ -->
      <div id="header" class="box_header">
        <p class="name_service">Sinapse</p>
      </div>
      <!-- ▲▲▲▲▲ header ▲▲▲▲▲ -->

      <div class="center_objecto">
        <!-- ▼▼▼▼▼ authentication ▼▼▼▼▼ -->
        <div>
          <!-- ▼▼▼ email login ▼▼▼ -->
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token%}

              <div style="margin: 10px">
                <input type="email" class="input_login" placeholder="メールアドレス"/>
              </div>
              <div style="margin: 10px">
                <input type="password" class="input_login" placeholder="パスワード"/>
              </div>

              <div id="btn" class="login_passInfo" style="text-align: center;">パスワードを忘れた方はこちら</div>
              <!-- <input class="btn_login" type="submit" value="ログイン" /> -->
              <input class="btn_login"  type='submit' value="login">

              <div id="btn" class="login_signupInfo" style="text-align: center;">新規登録</div>
            </div>
          </form>
          <!-- ▲▲▲ email login ▲▲▲ -->
        </div>
        <!-- ▲▲▲▲▲ authentication ▲▲▲▲▲ -->
      </div>
    </div>
  </body>
</html>
