<!-- <h1>home</h1>

        <button type='submit'
            onclick='XMLHttpRequestInGet()' 
        >Submit In Get</button>

        {% csrf_token %}
        <button type='submit'
            onclick='XMLHttpRequestInPOST()' 
        >Submit In POST</button>

{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static 'jQuery.js' %}"></script> -->


{% block section %}
<form action = "" method="get">
  <label>URL：<input type="url" size = "30" name ="url">
  <input type="submit" value="送信">
  </label>
</form>

{% if category %}
<p>{{category}}</p><br>
{% endif %}
{% endblock %}